@font-face {
    font-family: "Poppins";
    src: local("Poppins"),
     url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight:700;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: row;
}

.cover{
    width:50%;
    height: 100vh;
    background: linear-gradient(183.54deg, rgba(198, 20, 94, 0) -1.31%, rgba(198, 20, 94, 0.270555) 49.49%, #393842 100.75%), url(./img/BankImage.jpg);
    background-size:cover;
    background-position:center;   
}
.logo{
    position: absolute;
    width: 126px;
    height: 126px;
    left: 64px;
    top: 61px;
}
.body1{
color: #ffff;
font-weight: bolder;
position: absolute;
left:7%;
top:60%;
letter-spacing: 2px;
padding: 3px;
width: 328px; 
height: 56px;
gap: 20px;
font-family: Poppins;
font-size: 30px;
font-weight: 400;
line-height: 56px;
letter-spacing: 0em;
text-align: center;
}

.logo2{
position: absolute;
width: 102.68px;
height: 53.84px;
left: 30%;
top: 61%;

}

.body--2{
    position: absolute;
    top:69%;
    left:14%;
    letter-spacing:2px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;  
}

/*Right side*/
.container{
    position: absolute;
    width: 50%;
    height: 100vh;
    left: 50%; 
}
.wrapper{
    width: 100%;
    height: 368px;
    margin: 25% 0 0 5%
    
}
.arrow{
    position: absolute;
    margin: 1% 0 0 2%;
    width: 30px;
    height: 30px;
    top: 10px;
}
.login-text{
    width:  100%;
    height: 20px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #C6145E;
    margin-bottom: 15px;        
}
    
.body--text{
    width: 100%;
    height: 24px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.05em;
    gap: 8px;
    text-align: left;
    color: #7F8EA4;
}
.form{
     margin-top: 15px;
}
input{
    width: 80%;
    height: 50px;
    padding: 8px, 20px, 8px, 20px;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    border: none;
    background: #F5F6FA;
}
.forgot-pass{
    width: 80%;
    height: 23px;
    margin-top: -7px;
    padding:5px;
    
}
    
.btn{
    width: 80%;
    height: 56px;
    padding: 16px, 44px, 16px, 44px;
    border-radius: 6px;
    background: #C6145E;
    color: #ffff;
    border: none;
    margin-top: 55px;
    margin-left: 3px;
}
    
.forgot{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color:#C6145E;
}
    
.open-account{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height:56px;
    padding: 16px, 0px, 16px, 0px;
    border-radius: 6px;
    margin-top: 12%;
    
}
.open-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:#333754
}
span{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #C6145E;
}


@media screen and (max-width:600px){
    
    .app{
        display: flex;
        flex-direction: column;
    }
    .cover{
        width:100%;
        height: 60vh;
        background: linear-gradient(183.54deg, rgba(198, 20, 94, 0) -1.31%, rgba(198, 20, 94, 0.270555) 49.49%, #393842 100.75%), url(./img/BankImage.jpg);
        background-size:cover;
        background-position:center;   
    }
    .logo{
        position: absolute;
        width: 126px;
        height: 126px;
        left: 34px;
        top: 41px;
    }
    .body1{
        color: #ffff;
        font-weight: bolder;
        position: absolute;
        left:-4%;
        top:40%;
        letter-spacing: 2px;
        padding: 3px;
        width: 328px; 
        height: 56px;
        gap: 20px;
        font-size: 25px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
    }
    .logo2{
    position: absolute;
    width: 102.68px;
    height: 53.84px;
    left:70%;
    top: 40%;
    
    }
    .body2{
        position: absolute;
        top:47%;
        left:18%;
        letter-spacing:2px;
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;  
    }

    .arrow{
        visibility: collapse;
    }
    .container{
        display: absolute;
        width: 100%;
        height: 50vh;
        top: 70%;
        left: -3%;
    }

    .wrapper{
        width: 100%;
        height: 50vh;
        gap: 40px;
        margin: -18% 0 0 5%
        
    }
    .login-text{
        width:  100%;
        height: 25px;
        font-size: 30px;
        text-align: left;
        margin-bottom: 15px;        
    }
        
    .body-text{
        width: 100%;
        height: 24px;
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.05em;
        gap: 8px;
        text-align: left;
        color: #7F8EA4;
    }
    .form{
         margin-top: 15px;
    }
    input{
        width: 90%;
        height: 50px;
        padding: 8px, 20px, 8px, 20px;
        border-radius: 6px;
        padding: 5px;
        margin: 5px;
        border: none;
        background: #F5F6FA;
    }
    .forgot-pass{
        width: 90%;
        height: 23px;
        margin-top: -7px;
        padding:5px;
        
    }

    .btn{
        width: 90%;
        height: 56px;
        border: none;
        margin-top: 25px;
        margin-left: 3px;
    }

    .open-account{
        display: flex;
        justify-content: center;
        align-items: center;
        width:90%;
        height:76px;
        padding: 16px, 0px, 16px, 0px;
        border-radius: 6px;
        margin-top: 5%;
        
    }
    .open-text{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color:#333754
    }
    span{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #C6145E;
    }
    
}

@media screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .app{
        display: flex;
        flex-direction: column;
    }
    .cover{
        width:100%;
        height: 60vh;
        background: linear-gradient(183.54deg, rgba(198, 20, 94, 0) -1.31%, rgba(198, 20, 94, 0.270555) 49.49%, #393842 100.75%), url(./img/BankImage.jpg);
        background-size:cover;
        background-position:center;   
    }
    .logo{
        position: absolute;
        width: 126px;
        height: 126px;
        left: 34px;
        top: 41px;
    }
    .body1{
        color: #ffff;
        font-weight: bolder;
        position: absolute;
        left:-7%;
        top:40%;
        letter-spacing: 2px;
        padding: 3px;
        width: 328px; 
        height: 56px;
        gap: 20px;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
    }
    .logo2{
    position: absolute;
    width: 95.68px;
    height: 50.84px;
    left:70%;
    top: 40%;
    }
    .body2{
        position: absolute;
        top:46%;
        left:20%;
        letter-spacing:2px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;  
    }
    .arrow{
        visibility: collapse;
    }
    .container{
        position:absolute;
        width: 100%;
        height: 70vh;
        top: 65%;;
    }

    .wrapper{
        width: 100%;
        height: 70vh;
        gap: 40px;
        margin: -14% 0 0 5%
        
    }
    .login-text{
        width:  100%;
        height: 25px;
        font-size: 30px;
        text-align: left;
        margin-bottom: 25px;        
    }
        
    .body-text{
        width: 100%;
        height: 24px;
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.05em;
        gap: 8px;
        text-align: left;
        color: #7F8EA4;
    }
    .form{
      margin-top: 35px;
    }
    input{
        width: 90%;
        height: 50px;
        padding: 8px, 20px, 8px, 20px;
        border-radius: 6px;
        padding: 5px;
        margin: 5px;
        border: none;
        background: #F5F6FA;
    }

    .forgot-pass{
        width: 90%;
        height: 23px;
        margin-top: -7px;
        padding:5px;   
    }

    .btn{
        width: 90%;
        height: 56px;
        border: none;
        margin-top: 25px;
        margin-left: 3px;
    }

    .open-account{
        display: flex;
        justify-content: center;
        align-items: center;
        width:90%;
        height:76px;
        padding: 16px, 0px, 16px, 0px;
        border-radius: 6px;
        margin-top: 5%;  
    }

    .open-text{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color:#333754
    }
    span{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
};

    

 
    
        



